nameOverride: ""
fullnameOverride: ""

configs: {}
  # env-key: env-value

secrets: {}
  # db-password: changeme

restore:
  persistence:
    nfs:
      galaxy:
        deployVolume: true
        # pvcID: pvc-uuid
        
      cvmfsCache:
        deployVolume: true
        # pvcID: pvc-uuid

persistence:
  nfs:
    name: "nfs-disk"
    # size: 500Gi
    storageClass: "manual"
    accessMode: ReadWriteOnce
    persistentVolume:
      extraSpec:
        gcePersistentDisk:
          # pdName: leo-created-pd
          fsType: ext4
  postgres:
    name: "postgres-disk"
    # size: 10Gi
    storageClass: "manual"
    accessMode: ReadWriteOnce
    persistentVolume:
      extraSpec:
        gcePersistentDisk:
          # pdName: leo-created-pd
          fsType: ext4

nfs:
  persistence:
    enabled: true
    storageClass: "standard"
    size: "500Gi"
  storageClass:
    create: true
    defaultClass: true
    allowVolumeExpansion: true
    reclaimPolicy: "Retain"
    mountOptions:
      - vers=4.2
      - noatime
cvmfs:
  cache:
    alienCache:
      enabled: true
      size: 10000
      storageClass: "nfs"
      # existingClaim: "{{ .Release.Name }}-cvmfs-alien-cache-pvc"
    localCache:
      enabled: false
    preload:
      enabled: false

galaxy:
  postgresql:
    deploy: true
    # nodeSelector: "cloud.google.com/gke-nodepool: good-pool"
  cvmfs:
    enabled: true
    deploy: false
  image:
    repository: galaxy/galaxy-anvil
    tag: 21.05
  persistence:
    accessMode: "ReadWriteMany"
    storageClass: "nfs"
    size: "300Gi"
    # existingClaim: "{{ .Release.Name }}-galaxy-pvc"
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/auth-tls-pass-certificate-to-upstream: "true"
      nginx.ingress.kubernetes.io/auth-tls-secret: "{{.Release.Namespace}}/ca-secret"
      nginx.ingress.kubernetes.io/auth-tls-verify-client: "on"
      nginx.ingress.kubernetes.io/auth-tls-verify-depth: "1"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
    tls:
      - secretName: "tls-secret"
  postgresql:
    persistence:
      storageClass: "standard"
  influxdb:
    enabled: false
  extraEnv: []
  # - name: WORKSPACE_NAME
  #   valueFrom:
  #     configMapKeyRef:
  #       name: "{{.Release.Name}}-[galaxykubeman|leo]-configs"
  #       key: WORKSPACE_NAME

  terra:
     launch:
        workspace: launchWorkspace
        namespace: launchProject
  configs:
    galaxy.yml:
      galaxy:
        job_config_file: "/galaxy/server/config/job_conf.yml"
    job_conf.yml:
      runners:
        local:
          load: galaxy.jobs.runners.local:LocalJobRunner
          workers: 4
        k8s:
          load: galaxy.jobs.runners.kubernetes:KubernetesJobRunner
          k8s_use_service_account: true
          k8s_job_api_version: batch/v1
          k8s_namespace: "{{ .Release.Namespace }}"
          k8s_pod_retries: "4"
          k8s_walltime_limit: "604800"
          k8s_galaxy_instance_id: "{{ .Release.Name }}"
          k8s_persistent_volume_claims: |-
            {{ template "galaxy.pvcname" . -}}:{{ .Values.persistence.mountPath -}}
            {{- if .Values.cvmfs.enabled -}}
            {{- range $key, $entry := .Values.cvmfs.galaxyPersistentVolumeClaims -}}
            ,{{- template "galaxy.fullname" $ -}}-cvmfs-gxy-{{ $key }}-pvc:{{ $entry.mountPath -}}
            {{- end -}}
            {{- end -}}
            {{- if .Values.initJob.downloadToolConfs.enabled -}}
            ,{{ template "galaxy.pvcname" . -}}/{{ .Values.initJob.downloadToolConfs.volume.subPath }}:{{ .Values.initJob.downloadToolConfs.volume.mountPath -}}
            {{- end -}}
            {{- if .Values.extraVolumes -}}
            {{- template "galaxy.extra_pvc_mounts" . -}}
            {{- end }}
          #k8s_timeout_seconds_job_deletion: 30
          k8s_run_as_user_id: "101"
          k8s_run_as_group_id: "101"
          k8s_supplemental_group_id: "101"
          k8s_fs_group_id: "101"
          k8s_pull_policy: IfNotPresent
          k8s_cleanup_job: onsuccess
          k8s_pod_priority_class: '{{ include "galaxy.fullname" . }}-job-priority'
          # Requires an image with https://github.com/galaxyproject/galaxy/pull/10380
          # k8s_node_selector: |-
            # cloud.google.com/gke-nodepool: good-pool
      handling:
        assign:
          - "db-skip-locked"
      execution:
        default: dynamic_k8s_dispatcher
        environments:
          local:
            runner: local
          dynamic_k8s_dispatcher:
            runner: dynamic
            docker_enabled: true
            type: python
            function: k8s_container_mapper
            docker_default_container_id: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            #max_pod_retries: 3
      limits:
        - type: registered_user_concurrent_jobs
          value: 10
        - type: anonymous_user_concurrent_jobs
          value: 1
      tools:
        - environment: local
          id: upload1
        - environment: local
          id: __DATA_FETCH__
        - environment: local
          id: __EXPORT_HISTORY_TO_URI__
        - environment: local
          id: __IMPORT_HISTORY__
        - environment: local
          id: __EXPORT_HISTORY__
    file_sources_conf.yml:
      - doc: "{{ .Values.terra.launch.workspace }}"
        id: "{{ .Values.terra.launch.workspace }}"
        workspace: "{{ .Values.terra.launch.workspace }}"
        namespace: "{{ .Values.terra.launch.namespace }}"
        type: anvil
        on_anvil: True
        writable: True
        # api_url: https://firecloud-orchestration.dsde-dev.broadinstitute.org/api/
        # drs_url: https://us-central1-broad-dsde-dev.cloudfunctions.net/martha_v3
  resources:
    requests:
      cpu: 0.5
      memory: 2G
      ephemeral-storage: 5Gi
    limits:
      cpu: 2
      memory: 8G
      ephemeral-storage: 20Gi
  extraFileMappings:
    /galaxy/server/static/welcome.html:
      applyToWeb: true
      content: |
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="utf-8" />
                <link rel="stylesheet" href="style/base.css" type="text/css" />
            </head>
            <body class="m-0">
                <div class="py-4">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h2>Welcome to Galaxy</h2>
                                <p>
                                    This project is a collaboration between the Galaxy project, the Broad Institute and NHGRI.
                                    Galaxy is a hands-on analysis platform providing a graphical user interface for
                                    computational tools otherwise only available via command line. With Galaxy, users can affect
                                    their commands, run individual tools, and generate workflows, in a more fluid manner
                                    than many other pipeline analysis tools.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Getting Started</h2>
                                <p>
                                    The toolbar to the left contains all currently installed tools on this instance, however, as
                                    an administrator, you have access to the <b>admin</b> section on the banner. From here, you
                                    can install and uninstall tools as necessary from the Galaxy toolshed.
                                </p>
                                <p>
                                    From the workflow tab, you can download workflows, groups of tools chained together into a
                                    full pipeline, from other researchers, create and edit your own workflows from scratch, or
                                    view workflows extracted from analyses you've already performed.
                                </p>
                                <p>
                                    If this is your first time using Galaxy, visit our
                                    <b><a href="https://training.galaxyproject.org/training-material/">training</a></b> site for
                                    an introduction to the system and existing workflows in various areas of analysis. Further,
                                    if you need help, please click the <b>help</b> section on the masthead and visit one of our
                                    several help resources.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="list-group">
                                    <div class="welcome_box_training">
                                        <h2>Galaxy Training Material</h2>
                                        <br />
                                        <a
                                            class="list-group-item"
                                            href="https://training.galaxyproject.org/training-material/topics/galaxy-interface/"
                                        >
                                            <h4 class="list-group-item-heading">Galaxy UI training</h4>
                                        </a>
                                        <a
                                            class="list-group-item"
                                            href="https://training.galaxyproject.org/training-material/topics/introduction/"
                                        >
                                            <h4 class="list-group-item-heading">Intro to Galaxy Analysis</h4>
                                        </a>
                                        <a
                                            class="list-group-item"
                                            href="https://training.galaxyproject.org/training-material/topics/transcriptomics/"
                                        >
                                            <h4 class="list-group-item-heading">Transcriptomics</h4>
                                        </a>
                                        <a
                                            class="list-group-item"
                                            href="https://training.galaxyproject.org/training-material/topics/statistics/"
                                        >
                                            <h4 class="list-group-item-heading">Statistics and Machine Learning</h4>
                                        </a>
                                        <a
                                            class="list-group-item"
                                            href="https://training.galaxyproject.org/training-material/topics/proteomics/"
                                        >
                                            <h4 class="list-group-item-heading">Proteomics</h4>
                                        </a>
                                        <a
                                            class="list-group-item"
                                            href="https://training.galaxyproject.org/training-material/topics/variant-analysis/"
                                        >
                                            <h4 class="list-group-item-heading">Variant Analysis</h4>
                                        </a>
                                        <a class="list-group-item" href="https://training.galaxyproject.org/training-material/">
                                            <h4 class="list-group-item-heading">And more!</h4>
                                        </a>
                                        <br />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 p-4">
                                    <div id="twitter_timeline" style="height: 400px">
                                        <a
                                            class="twitter-timeline"
                                            data-dnt="true"
                                            height="400"
                                            href="https://twitter.com/galaxyproject"
                                            data-widget-id="384667676347363329"
                                        >
                                            Tweets by @galaxyproject
                                        </a>
                                        <script>
                                            !(function (d, s, id) {
                                                var js,
                                                    fjs = d.getElementsByTagName(s)[0],
                                                    p = /^http:/.test(d.location) ? "http" : "https";
                                                if (!d.getElementById(id)) {
                                                    js = d.createElement(s);
                                                    js.id = id;
                                                    js.src = p + "://platform.twitter.com/widgets.js";
                                                    fjs.parentNode.insertBefore(js, fjs);
                                                }
                                            })(document, "script", "twitter-wjs");
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-6 p-4">
                                    <div id="twitter_anvil_timeline" style="height: 400px">
                                        <a
                                            class="twitter-timeline"
                                            data-dnt="true"
                                            height="400"
                                            href="https://twitter.com/useAnVIL"
                                            data-widget-id="384667676347363329"
                                        >
                                            Tweets by @galaxyproject
                                        </a>
                                        <script>
                                            !(function (d, s, id) {
                                                var js,
                                                    fjs = d.getElementsByTagName(s)[0],
                                                    p = /^http:/.test(d.location) ? "http" : "https";
                                                if (!d.getElementById(id)) {
                                                    js = d.createElement(s);
                                                    js.id = id;
                                                    js.src = p + "://platform.twitter.com/widgets.js";
                                                    fjs.parentNode.insertBefore(js, fjs);
                                                }
                                            })(document, "script", "twitter-wjs");
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr />
                                    <p>
                                        <a target="_blank" class="reference" href="http://galaxyproject.org/"
                                            >The Galaxy Project</a
                                        >
                                        is supported in part by
                                        <a target="_blank" class="reference" href="http://www.nsf.gov">NSF</a>,
                                        <a target="_blank" class="reference" href="http://www.genome.gov">NHGRI</a>,
                                        <a target="_blank" class="reference" href="http://www.huck.psu.edu"
                                            >The Huck Institutes of the Life Sciences</a
                                        >,
                                        <a target="_blank" class="reference" href="http://www.ics.psu.edu"
                                            >The Institute for CyberScience at Penn State</a
                                        >, and
                                        <a target="_blank" class="reference" href="http://www.jhu.edu/"
                                            >Johns Hopkins University</a
                                        >.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
        </html>
 

rbac:
  enabled: true
  serviceAccount: default
